Source: ngcp-mediator
Section: utils
Priority: extra
Maintainer: Sipwise Development Team <support@sipwise.com>
Build-Depends: debhelper (>= 5), libmysqlclient15-dev, libglib2.0-dev
Standards-Version: 3.9.3
Homepage: http://sipwise.com/

Package: ngcp-mediator
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: CDR creation tool for NGCP platforms.
 This tool generates CDR entries from accounting information in a NGCP platform.
