[Unit]
Description=NGCP Mediator
After=mysql.service
After=redis-server.service
After=remote-fs.target
Requires=redis-server.service
Wants=mysql.service
Wants=redis-server.service

[Service]
Type=simple
ExecStart=/usr/bin/mediator

[Install]
WantedBy=multi-user.target
Alias=mediator.service
